body {
  background-color: #f5e1f38c;
}
main {
  background-color: rgba(196, 142, 174, 0.432);
  width: 500px;
  height: 500px;
}
span {
    width: 55px;
    height: 55px;
    border: 1px;
    display: inline;
}
h1#title {
  background-color: rgba(253, 221, 199, 0.904);
  width: 250px;
  height: 40px;
  text-align: center;
}
div {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  display: inline-block;
}
div.color {
  background-color: blueviolet;
}
